include  mixins/crearContacto 
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        title Agenda de Contactos
    body 
        header.barra
            h1 Agenda de Numeros Telefonicos

        main.contenedor
            aside.contenedor-contactos
                .panel.crear-contacto 
                    a(href="/nuevo-contacto" class="boton") Nuevo Contacto
                        span +
                .panel.lista-contactos
                    h2 Contactos 
                    ul#contactos.proyectos 
                        if(contactos.length)
                            each contacto in contactos
                                li
                                    a(href=`/contactos/${contacto.url}`)= contacto.nombre
                                    p= contacto.telefono
   
            block contenido
        
            //pre= vardump(contactos)
        script(src="/dist/bundle.js")