extends layout

include  mixins/crearContacto

block contenido
    .contenido-principal
        h1 #{nombrePagina}

        //pre= vardump(contacto)

        if errores
            each error in errores
                p.error.alerta=error.message
        +crearContacto(contacto)
